<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>BOUTIQUE SPORT</title>
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="CSS/main.css" />
</h:head>
<h:body class="homepage is-preload">
	<div id="page-wrapper">
		<!-- Header -->
		<section id="header" class="wrapper">
		<div class="logo">
			<a href="welcome.xhtml"><img src="images/banniereSport.jpg"
				alt="banniereSport.jpg" /> </a><br></br>
			<a href="welcome.xhtml">home</a>
		</div>


		<!-- Nav --> <nav id="nav">
		<ul>
			<li class="current"><a href="createAccount.xhtml">createAccount</a></li>
			<li class="current"><a href="welcomeV1.xhtml">homeV1</a></li>
			<li class="current"><a href="welcome.xhtml">home</a></li>
			<li class="current"><a href="login.xhtml">login</a></li>
			<li class="current"><a href="printArticles.html">Tous les
					sports</a></li>
			<li><a href="#">Femme</a>
				<ul>
					<li>Sportwear
						<li><a class="lien" href="#">T-Shirts</a></li>
						<li><a class="lien" href="#">Chaussures</a></li>
						<li><a class="lien" href="#">Leggings</a></li>
						<li><a class="lien" href="#">Pulls</a></li>
						<li><a class="lien" href="#">Joggings</a></li>

					</li>
					<li>Accessoire
						<li><a class="lien" href="#">Ski</a></li>
						<li><a class="lien" href="#">Surf</a></li>
						<li><a class="lien" href="#">Randonnée</a></li>
						<li><a class="lien" href="#">Trek</a></li>
						<li><a class="lien" href="#">Camping</a></li>
					</li>
				</ul></li>
			<li><a href="#">Homme</a>
				<ul>
					<li>Sportwear
						<li><a class="lien" href="#">T-Shirt</a></li>
						<li><a class="lien" href="#">Chaussures</a></li>
						<li><a class="lien" href="#">Leggings</a></li>
						<li><a class="lien" href="#">Pulls</a></li>
						<li><a class="lien" href="#">Joggings</a></li>

					</li>
					<li>Accessoire
						<li><a class="lien" href="#">Ski</a></li>
						<li><a class="lien" href="#">Surf</a></li>
						<li><a class="lien" href="#">Randonnée</a></li>
						<li><a class="lien" href="#">Trek</a></li>
						<li><a class="lien" href="#">Camping</a></li>
					</li>
				</ul></li>
			<li><a href="#">Enfant</a>
				<ul>
					<li>Sportwear
						<li><a class="lien" href="#">T-Shirts</a></li>
						<li><a class="lien" href="#">Chaussures</a></li>
						<li><a class="lien" href="#">Leggings</a></li>
						<li><a class="lien" href="#">Pulls</a></li>
						<li><a class="lien" href="#">Joggings</a></li>

					</li>
					<li>Accessoire
						<li><a class="lien" href="#">Ski</a></li>
						<li><a class="lien" href="#">Surf</a></li>
						<li><a class="lien" href="#">Randonnée</a></li>
						<li><a class="lien" href="#">Trek</a></li>
						<li><a class="lien" href="#">Camping</a></li>
					</li>
				</ul></li>
			<li><a href="#">Accessoires</a>
				<ul>
					<li><a class="lien" href="#">Ski</a></li>
					<li><a class="lien" href="#">Surf</a></li>
					<li><a class="lien" href="#">Randonnée</a></li>
					<li><a class="lien" href="#">Trek</a></li>
					<li><a class="lien" href="#">Camping</a></li>
				</ul></li>
		</ul>

		</nav> </section>

		<div id="ourContent" class="container">
			<ui:insert name="myContent">
				<h:form>
					<h1>Nombre d'articles au panier : #{catalogueMBean.nbArticles}</h1>
					<ui:repeat var="product" value="#{productMBean.products}">
						<div class="elt">
							<div class="">
							<ui:repeat var="photo" value="#{product.photos}">
								<h:graphicImage class="" height="200"
									url="images/${photo.path}" alt="photo du produit" />
							</ui:repeat>
							</div>
							#{product.name}
							<h:commandButton value="afficher"
								action="#{productMBean.doDisplayProduct}">
								<f:setPropertyActionListener value="#{product}"
									target="#{productDetailsMBean.product}"></f:setPropertyActionListener>
							</h:commandButton>
							<h:commandButton value="ajouter"
								actionListener="#{catalogueMBean.doAddToCart(product)}">
							</h:commandButton>
						</div>
					</ui:repeat>
				</h:form>
			</ui:insert>
		</div>

		<!-- Main -->
		<section id="main" class="wrapper style2">
		<div class="title">The Details</div>
		<div class="container">

			<!-- Image -->
			<a href="#" class="image featured"> <img src="images/pic01.jpg"
				alt="" />
			</a>

			<!-- Features -->
			<section id="features"> <header class="style1">
			<h2>Dolor consequat feugiat amet veroeros</h2>
			<p>Feugiat dolor nullam orci pretium phasellus justo</p>
			</header>
			<div class="feature-list">
				<div class="row">
					<div class="col-6 col-12-medium">
						<section>
						<h3 class="icon solid fa-wrench">Aliquam consequat et feugiat</h3>
						<p>Eget mattis at, laoreet vel et velit aliquam diam ante,
							aliquet sit amet vulputate et magna feugiat laoreet vel velit
							lorem.</p>
						</section>
					</div>
					<div class="col-6 col-12-medium">
						<section>
						<h3 class="icon solid fa-check">Dolore laoreet aliquam mattis</h3>
						<p>Eget mattis at, laoreet vel et velit aliquam diam ante,
							aliquet sit amet vulputate et magna feugiat laoreet vel velit
							lorem.</p>
						</section>
					</div>
				</div>
			</div>
			<ul class="actions special">
				<li><a href="#" class="button style1 large">Get Started</a></li>
				<li><a href="#" class="button style2 large">More Info</a></li>
			</ul>
			</section>

		</div>
		</section>


		<!-- Footer -->
		<section id="footer" class="wrapper">
		<div class="title">The Rest Of It</div>
		<div class="container">
			<header class="style1">
			<h2>Ipsum sapien elementum portitor?</h2>
			<p>
				Sed turpis tortor, tincidunt sed ornare in metus porttitor mollis
				nunc in aliquet.<br /> Nam pharetra laoreet imperdiet volutpat
				etiam feugiat.
			</p>
			</header>
			<div class="col-6 col-12-medium">

				<!-- Contact -->
				<section class="feature-list small">
				<div class="row">
					<div class="col-6 col-12-small">
						<section>
						<h3 class="icon solid fa-home">Mailing Address</h3>
						<p>
							Untitled Corp<br /> 1234 Somewhere Rd<br /> Nashville, TN 00000
						</p>
						</section>
					</div>
				</div>
				</section>
			</div>
			<div id="copyright">
				<ul>
					<li>&copy; Untitled.</li>
					<li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</div>
		</section>

	</div>

	<!-- Scripts -->
	<script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/jquery.dropotron.min.js"></script>
	<script src="/assets/js/browser.min.js"></script>
	<script src="/assets/js/breakpoints.min.js"></script>
	<script src="/assets/js/util.js"></script>
	<script src="/assets/js/main.js"></script>
</h:body>
</html>
